nav ul{
    list-style: none;
    display: flex;
    background-color: #00800b62;

}

nav ul a{
text-decoration: none;
color: rgb(0, 0, 0);
margin-right: 30px;
font-size: 18px;

}
h1{
    text-align: center;
    font-size: 35px;
    padding-bottom: 20px;
    width: 100%;
}

nav ul li :hover{
    color: blue;
    background-color:rgb(167, 160, 160);
    padding: 0 10px;
    
}
header{
    background-color: rgb(255, 243, 227);
}
article{
    width: 500px;
    height: 400px;
}